/* Desktop menu */
body, html{
    height: 100%;
    margin: 0;
}

/* Home page logo */
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* bootstrap navbar designs */

.navbar a {
    font-family: 'Oswald', sans-serif;
    margin: 0 5px;
}
.nav-item {
    background-color: rgb(240, 240, 240);
    margin: 1px;
    transition: background-color 0.5s;
}

.nav-link {
    color: black;
}
.navbar-nav {
    margin: auto;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,1);
}

.nav-item:hover {
    background-color: rgb(0, 118, 214);
}

/* toggler came from https://fontawesome.com/icons/bars?style=solid
.custom-toggler .navbar-toggler-icon {
    background-image: url("/static/bars-solid.svg");
} */

.nav-bar {
    display: flex;
    align-items: stretch;     
    flex-wrap: nowrap;
    justify-content: space-evenly;
    padding: 0;
}
.nav_link {
    list-style: none;
    flex-grow: 1;
    margin: 1px;
    padding: 15px 0;
    text-align: center;
    transition: background-color 0.5s;
    background-color: rgb(240, 240, 240);
}
.nav_link:hover {
    background-color: rgb(0, 118, 214);
}
.nav_link a {
    display: block;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    line-height: 100%;
    color: black;
    transition: color 0.4s;
    margin: 0 7px;
}
.nav_link:hover a {
    color: white;
}


.submenu {
    display: none;
    flex-direction: column;
    padding: 0;
    margin-top: 15px;
    position: absolute;
}

.subitem {
    padding: 4px 0;
}

.nav_link:hover .submenu {
    display: flex;
    list-style: none;
    background-color: rgb(0, 118, 214);
}

.nav_link:hover .subitem a {
    line-height: normal;
    font-size: 16px;

}

.subitem:hover {
    background-color: rgb(240, 240, 240);
    transition: background-color 0.5s;
}

.subitem:hover a {
    color: black;
    transition: color 0.5s;
}

/* footer */
footer {
    margin: 0;
    padding: 15px;
    background-color: lightgray;
}

footer p {
    font-size: 15px;
}

.addresses {
    display: flex;
    justify-content: space-between;
    text-align: center;

}

.address-item {
    flex-grow: 1;
    margin: 6px 0;
}

.address-item p {
    font-size: medium;
}

.footerimages {
    display: flex; 
    flex-wrap: wrap;   
    justify-content: space-evenly;
    align-items: baseline;
}

.footer-image {
    flex-grow: 1;
    margin: 13px 10px;
}

.social-media-icons {
    margin-right: 10px;
}

#app {
    padding: 10px;
}

/* home page slideshow */
.carousel-item {
    max-height: 600px;
}

/* statistics for homepage */
.statistics {
    background-color: rgb(0, 118, 214);
    margin-top: 25px;
}

.statistics-header {
    text-align: center;
}

.statistics-header h2 {
    color: white;
}

.statistics-flexbox {
    display: flex; 
    flex-wrap: wrap;   
    justify-content: space-evenly;
    align-items: baseline;
}

.statistics-item {
    background-image: url('Miscimages/StaisticsBackground.png');
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 20px;
    width: 300px;
    height: 300px;
}
/* newsletter for homepage */
.newsletter {
    padding: 80px 0;
    background: #f2f2f2;
}
    
.newsletter .content {
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 2; 
}
.newsletter .content h2 {
    color: #243c4f;
    margin-bottom: 40px; 
}
.newsletter .content .form-control {
    height: 50px;
    border-color: #ffffff;
    border-radius:0;
}
.newsletter .content.form-control:focus {
    box-shadow: none;
    border: 2px solid #243c4f;
}
.newsletter .content .btn {
    min-height: 50px; 
    border-radius:0;
    background: #243c4f;
    color: #fff;
    font-weight:600;
}
/*Our Team*/

*{
    box-sizing: border-box;
}

.card-wrapper{
    display:flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
}
.ot-card {
    width: 30rem;
    background-color: #ebeef8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    box-shadow: .5rem .5rem 3rem rgba(0,0,0,0.2)
}
.profile-img-front {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid white;
    margin-top: 1rem;
    z-index: 999;
    transition: opacity .25s ease-out;
}
.profile-img-back {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid white;
    margin-top: 1rem;
    margin-top: -49.8%;
}
.profile-img-front:hover{
    opacity: 0;
}
.ot-card h2 {
    color: #333333;
    margin: 1.5rem 0;
    text-align: center;
}
.job-title{
    color: #777;
    font-size: 1.5rem;
    font-weight: 400;
}
@media screen and (min-width: 700px) {
    .card-wrapper{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .ot-card{
        margin: 1rem;
    }
}

@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.ot-card:nth-child(1){
    animation: fadeIn .5s .5s backwards;
}
.ot-card:nth-child(2){
    animation: fadeIn .5s 1s backwards;
}
.ot-card:nth-child(3){
    animation: fadeIn .5s 1.5s backwards;
}
.ot-card:nth-child(4){
    animation: fadeIn .5s 2s backwards;
}

.pImg{
    position: relative;
    background-image: url("frontend/static/ourteamimages/cac-team.jpg");
    min-height: 400px;
    opacity: 0.80;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-bottom: 20px;
}
.pText{
    position: absolute;
    top:50%;
    width:100%;
    text-align: center;
    color: #000;
    font-size:27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}
.pText .border {
    background-color: #111;
    color: #fff;
    padding: 20px;
}




.events-body {
    background: #767676;
    padding: 56px;
    width: 90%;
    margin: auto;
}

.heading-1 {
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: white;
    color: #767676;
    width: 230px;
    margin: auto;
    font-size: 70px;
    text-align: center;
}

.baseline-1 {
    border-bottom: 3px solid white;
    margin-top: 16px !important;
}

.baseline-2 {
    border-bottom: 1px solid white;
    margin-top: 4px !important;
}

.baseline-1, .baseline-2 {
    width: 60%;
    margin: auto;
    opacity: 0.7;
}

.content-row {
    padding: 50px;
    padding-left: 0px;
    padding-right: 0px;
}

.content-row>.col-6>img {
    width: 417px;
    height: 434px;
}

.right-content, .left-content {
    color: white;
    position: relative;
}

.right-content {
    text-align: right;
}

.left-content {
    text-align: left;
    ;
}

.left-content>h1, .right-content>h1 {
    font-size: 52px;
}

.right-content-p {
    font-size: 35px;
    width: 90%;
    text-align: left;
    float: right;
    margin-top: 65px;
}

.right-join-btn {
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
}

.right-join-btn>button {
    width: 140px;
    height: 44px;
    border: none;
    background: #1889DB;
    color: white;
}

.right-join-btn>button:hover {
    background: white;
    color: black;
}

.img-col {
    text-align: center;
}

.content-h3 {
    margin-top: 50px;
}
