
/* Desktop menu */

.nav-bar {
    display: flex;
    align-items: flex-start;     
    flex-wrap: nowrap;
    justify-content: space-evenly;
    padding: 0;
}
.nav_link {
    list-style: none;
    flex-grow: 1;
    margin: 1px;
    padding: 15px 0;
    text-align: center;
    transition: background-color 0.5s;
    background-color: rgb(240, 240, 240);
}
.nav_link:hover {
    background-color: rgb(0, 118, 214);
}
.nav_link a {
    display: block;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    line-height: 100%;
    color: black;
    transition: color 0.4s;
    margin: 0 7px;
}
.nav_link:hover a {
    color: white;
}

.submenu {
    display: none;
    flex-direction: column;
    padding: 0;
    margin-top: 15px;
}

.subitem {
    padding: 4px 0;
}

.nav_link:hover .submenu {
    display: flex;
    list-style: none;
}

.nav_link:hover .subitem a {
    line-height: normal;
}

.subitem {
    width: 100%;
}

.subitem:hover {
    background-color: rgb(240, 240, 240);
    transition: background-color 0.5s;
}

.subitem:hover a {
    color: black;
    transition: color 0.5s;
}


@media all and (max-width: 1061px) {
    .nav_link {
        min-height: 40px;
    }
}